* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 65px;
    background-color: rgba(250, 170, 170, 0.1);
    border-radius: 75px;
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border: 5px solid #7c6f82;
    border-radius: 100px;
    transition: background-color 1s ease;
    overflow: hidden;
}

.search-bar:hover {
    background-color: #291b2f;
}

.search-input {
    background: transparent;
    color: rgb(223, 212, 212);
    border: 0;
    border-radius: 3px;
    flex: 1;
    padding: 15px;
    outline: none;
    font-size: 20px;
}

.search-button {
    background-color: #0e2135;
    border: 0;
    color: rgb(180, 112, 112);
    border: none;
    border-radius: 75px;
    padding: 20px 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #1f196e;
}

.query-indicator {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(194, 245, 255, 0.1);
    border-radius: 75px;
    box-sizing: border-box;
    padding: 12px;
    width: 29%;
    text-align: center;
    transition: background-color 1s ease;
    word-wrap: break-word;
}

.query-indicator:hover {
    background-color: #3a385f;
}

.description-container {
    background-color: #2f2f39;
    box-sizing: border-box;
    border-radius: 3%;
    height: 150px;
    word-break: break-all;
    word-wrap: break-word;
    padding-left: 4%;
    padding-right: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
    overflow: scroll;
}

.description-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.description-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.description-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.description-container::-webkit-scrollbar-track {
    background-color: transparent;
}
.description-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.img-container {
    padding-top: 4%;
    box-sizing: border-box;
}

img {
    border-radius: 12%;
    width: 130px;
    height: 180px;
}